    body {
        font-family: 'Arial', sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
    }
    .profile img {
        border-radius: 50%;
        width: 200px; 
        height: 200px;
        object-fit: cover;
        margin-bottom: 10px;
    }
    header {
        text-align: center;
    }

    header h1 {
        margin: 0;
    }

    header p {
        margin: 5px 0;
    }

    section {
        padding: 40px 0;
    }

    h2 {
        color: #333;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    .project {
        border: 1px solid #ccc;
        padding: 15px;
        margin-bottom: 20px;
    }

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        position: relative;
    }
